*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-boz-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #272727;
    width: 100%;
    margin: 0 auto;
}   
h1 ,h2 ,a{
    font-family: 'PT Sans', sans-serif;
}
p ,span{
    font-family: 'Playfair Display', serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
                                /* ------------
                                    CABEÇALHO 
                                   ------------ */
.cabecalho a:visited{
    color: #000000;
}
.cabecalho a:link{
    color: #000000;
}
.cabecalho a:hover{
    color: #272727;;
    text-shadow: 0px 0px 3px red;
}
.cabecalho{
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.logo-top img{
    width: 100px;
    height: 80px;
}
#btn{
    padding: 5px;
    background-color: #E0E0E0;
    color: #000;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.navegacao ul, li{
    float: left;
    margin-top: 5px;
    padding: 15px;
    font-size: 25px;
}
#btn-icon{
    padding: 5px;
    background-color: #E0E0E0;
    color: #000;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.icones{
    display: flex;
    flex-direction: column;
}
.icones img{
    padding-top: 15px;
    width: 38px;
}
                                 /* ------------
                                   BANNER TOPO
                                   ------------ */
.banner-topo img{
    height: auto;
    width: 100%;
    display: flex;
}
                                /* ------------
                                IMAGENS CIRCULARES
                                   ------------ */
.fundo-imagens{
    display: flex;
    justify-content: center;
    padding-top: 8em;
    padding-bottom: 8em;
}
.fundo-imagens img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 30px;
}
                                 /* ------------
                                   BANNER E TEXTO
                                   ------------ */
#propaganda{
    background-color: #FFFFFF; 
    padding: 80px 40px;
    display: flex;
    position: relative;
}
.text-info span{
    font-size: 30px;
}
.text-info h1{
    font-size: 40px;
    margin-top: 50px;
    white-space: pre-line;
}
.text-info p{
    font-size: 25px;
    margin-top: 50px;
    white-space: pre-line;
}
.banner-info-1{
    position: absolute;
    left: 40%;
    background-color:#000000;
    color: #ffffff;
}
.banner-info-2{
    position: absolute;
    right: 5%;
    bottom: 30%;
    background-color:#000000;
    color: #ffffff;
}
.banner-info-3{
    position: absolute;
    right: 5%;
    top: 75%;
    background-color:#000000;
    color: #ffffff;
}
.banner-text {
    font-size: 20px;
    text-align: center; 
}
                                /* ------------
                                      SWIPER 
                                   ------------ */
#fundo{
    margin-top: 40%;
    background-color:  #FFFFFF;
    padding: 50px 40px;
    display: flex;
    position: relative;
    width: 85%;
}
.swiper-text{
    font-size: 22px;
    margin-left: 30px;
    text-align: left;
    width: 45%;
}
.swiper-text span ,h1 ,p{
    margin: 15% 0;
} 
.swiper-text button{
    background-color: #000000;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 15px 32px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.swiper-container{
    width: 100%;
    height: 100%;
    left: 10%;
    margin-top: 40px;
    margin-left: -100px;
    position: absolute;
    display: flex;
}
.swiper-slide img{
    width: 100%;
    height: 15%;
}
                                /* ------------
                                    INSTAGRAM 
                                   ------------ */
#insta-marca{
    padding-left: 40px;
    padding-top: 140px;
    margin-top: 15%;
    display: flex;
    position: relative;
}
.text-marca{
    position: absolute;
    left: 38%;
    bottom: 80%;
    font-size: 50px;
}
.text-marca a:visited{
    color: #f6f6f6;
}
.text-marca a:link{
    color: #f6f6f6;
}
.text-marca a:hover{
    color: #f5e5d9;
    text-shadow: 0px 0px 3px black;
}
.right{
    position: relative;
    left: 80%;
}
.text-insta{
    background-color: #f5e5d9;
    position: absolute;
    left: 35%;
    width: 30%;
    margin-top: 180px;
    padding: 100px 50px;
    text-align: justify;
    font-size: 20px;
}
.text-insta a:visited{
    color: #000000;
}
.text-insta a:link{
    color: #000000;
}
                                /* ------------
                                       LOGO
                                   ------------ */
#logo-bottom{
    position: relative;
    margin-top: 50%;
    background-color: #f6f6f6;
    height: 5px;
}
.logo{
 position: absolute;
 left: 43%;
 top: -100px;
}
.logo img{
    width: 200px;
    background-color: #272727;
    padding: 0px 10px;
}
                                /* ------------
                                     RODAPE 
                                   ------------ */
#rodape{
    margin-top: 15%;
}
#rodape span ,a:visited, a:link{
    color: #f6f6f6;
}
#btn-rodape{
    padding: 5px;
    background-color: #272727;
    color: #FFF;
    border-radius: 8px;
    font-size: 20px;
    width: 80px;
    height: 70px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.menu{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.item-2{
    padding-right: 450px;
}
.item-3{
    padding-right: 50px;
}
.conjunto-submenu{
    position: relative;
    margin-top: 30px;
}
.submenu{
    position: absolute;
    width: 20%;
    margin-left: 125px;
}
.submenu a{
    font-size: 20px;
}
.contato{
    position: absolute;
    left: 500px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
    margin-top: 50px;
    width: 40%;
}
.contato input{
    font-size: 20px;
    width: 65%;
    background-color: #272727;
    color: #f6f6f6;
    border: none;
}
.contato input[type=email]{
    background-color: #272727;
}
.contato button{
    padding-left: 135px;
    font-size: 20px;
    background-color: #272727;
    color: #f6f6f6;
    border: none;
    cursor: pointer;
}
.redes-sociais{
    position: absolute;
    right: 110px;
    width: 160px;
}
.redes-sociais img{
    width: 20px;
    padding-right: 5px;
}
.redes-sociais a{
    font-size: 20px;
}
.direito{
    position: absolute;
    left: 500px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 21px;
}