*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5E5D9;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: none;
}
a:visited, a:link{
    color: black;
}
a:hover{
    color: gray;;
    text-shadow: 0px 0px 3px red;
}
ul{
    list-style: none;
}
/* CABEÇALHO */
header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
#logo-top{
    padding-left: 20px;
}
#navegacao ul, li{
    float: left;
    padding: 15px;
}
#icones{
    padding-top: 15px;
    padding-right: 20px;
}
/* BANNER TOPO */
.banner-topo img{
    height: auto;
    width: 100%;
    display: flex;
}
/*IMAGENS CIRCULARES*/
.fundo-imagens{
    background-color: #F5E5D9;
    display: flex;
    justify-content: center;
    height: 20em;
    padding-top: 8em;
    padding-bottom: 8em;
}
.fundo-imagens img{
    width: 180px;
    border-radius: 50%;
    margin: 50px 25px;
}
/*BANNER MEIO*/
#container{
    font-family: 'Playfair Display', serif;
    background-color: #FFFFFF; 
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    position: relative;
}

.text-info span{
    font-size: 30px;
    margin-left: 50px;
}
.text-info h1{
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
    white-space: pre-line;
}
.text-info p{
    font-size: 25px;
    margin-left: 50px;
    margin-top: 50px;
    white-space: pre-line;
}
.banner-info-1{
    position: absolute;
    left: 40%;
    background-color: gray;
}
.banner-info-2{
    background-color: gray;
    position: absolute;
    right: 5%;
    bottom: 30%;
}
.banner-info-3{
    background-color: gray;
    position: absolute;
    right: 5%;
    top: 75%;
}
.banner-text {
    font-size: 20px;
    white-space: pre-line;
    text-align: center; 
}
/*SWIPER*/
#fundo{
    margin-top: 40%;
    background-color:  #FFFFFF;
    padding: 50px 0px;
    display: flex;
    position: relative;
    width: 85%;
}
.swiper-img{
    margin-left: 50px;
}
.swiper-text{
    font-size: 22px;
    margin-left: 40px;
    white-space: pre-line;
    font-family: 'Playfair Display', serif;
}
.swiper-text button{
    background-color: black;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.swiper-container {
    width: 100%;
    height: 100%;
    left: 10%;
    margin-top: 100px;
    margin-left: -100px;
    position: absolute;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    background-color: white;
}
/* INSTAGRAM */
#insta-marca{
    padding-top: 15%;
    display: flex;
    position: relative;
}
.text-marca{
    position: absolute;
    left: 40%;
    bottom: 2%;
    font-size: 50px;
}
.text-marca a:hover{
    color: blue;
}
.img-insta-1{
    position: absolute;
    left: 3%;
    background-color: gray;
    width: 27%;
}
.img-insta-1 img{
    padding: 140px;
}
.text-insta{
    background-color: gray;
    position: absolute;
    left: 35%;
    width: 25%;
    margin-top: 100px;
    padding: 150px 50px;
    text-align: justify;
}
.img-insta-2{
    position: absolute;
    right: 3%;
    background-color: gray;
    width: 27%;
}
.img-insta-2 img{
    padding: 140px;
}
/* LOGO BOTTOM */
#logo-bottom{
    position: relative;
    margin-top: 50%;
    background-color: gray;
    height: 5px;
}
.logo{
    position: absolute;
    left: 43%;
    top: -100px;
}
.logo img{
    width: 200px;
    background-color: #F5E5D9;
    padding: 0px 10px;
}
/* RODAPE */
#rodape{
    margin-top: 15%;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.item{
    padding-right: 30%;
}
.submenus{
    position: relative;
    margin-top: 30px;
}
.submenu{
    position: absolute;
    width: 20%;
    margin-left: 120px;
}
.contato{
    position: absolute;
    left: 500px;
}
.redes-sociais{
    position: absolute;
    right: 90px;
    width: 10%;
}
.redes-sociais img{
    width: 30px;
    padding-right: 5px;
}
.direito{
    position: absolute;
    left: 500px;
    margin-top: 150px;
}