*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5E5D9;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: none;
}
a:visited, a:link{
    color: black;
}
a:hover{
    color: gray;;
    text-shadow: 0px 0px 3px red;
}
ul{
    list-style: none;
}
/* CABEÇALHO */
header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
#logo{
    padding-left: 20px;
}
#navegacao ul, li{
    float: left;
    padding: 15px;
}
#icones{
    padding-top: 15px;
    padding-right: 20px;
}
/* BANNER TOPO */
.banner-topo img{
    height: auto;
    width: 100%;
    display: flex;
}
/*IMAGENS CIRCULARES*/
.fundo-imagens{
    background-color: #F5E5D9;
    display: flex;
    justify-content: center;
    height: 20em;
    padding-top: 8em;
    padding-bottom: 8em;
}
.fundo-imagens img{
    width: 180px;
    border-radius: 50%;
    margin: 50px 25px;
}
/*BANNER MEIO*/
#container{
    font-family: 'Playfair Display', serif;
    background-color: #FFFFFF;
    display: flex;
    padding-top: 100px;
}
.texto-info span{
    font-size: 20px;
    margin-left: 50px;
}
.texto-info h1{
    margin-left: 50px;
    margin-top: 50px;
    white-space: pre-line;
}
.texto-info p{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    white-space: pre-line;
}
.banner-info{
    padding-left: 100px;
}
.banner-info h3{
    text-align: center;
}
.banner-info p{
    font-size: 20px;
    white-space: pre-line;
    text-align: center;
}

